body { 	color: light red;
		font-family: Gill Sans, Verdana, Helvetica, sans-serif;
		font-size: 10pt;
		margin: 0 auto; 
	}
h1.title {
			font-size: 36pt;
			font-variant: small-caps;
			font-weight: bold;
			text-align:center;
			margin-top: 15px;
			margin-bottom: 0px; 
		}

h2.titletop {
			font-size: 14pt;
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;
			padding-bottom: 0px;
			margin-bottom: 25px;
			}

h2.title {
			font-size: 14pt;
			font-weight: normal;
			text-decoration: underline;
			font-variant: small-caps;
			padding-bottom: 0px;
			margin-top: 30px;
			margin-bottom: 25px;
		}	

#header { background:#ddd; padding:5px 10px;  }

#main {background:#FF7673; float:left; width:580px; padding-top:0px; padding-left:10px; padding-right:10px; padding-bottom:10px; margin-bottom:0; height:3050px; }
